# Папка с настройками проекта PyCharm
.idea/

# Системные файлы
*.iml

# Папки с кэшами и временными файлами
__pycache__/
*.py[cod]

# Папка с виртуальным окружением (если используется)
/.venv/
env/
ENV/

# Логи
*.log

# Данные IDE
*.swp
*.swo
*.DS_Store

# Файлы конфигурации для различных систем
*.orig
*.bak